
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');



body {
  font-family: 'Thasadith', 'Helvetica', sans-serif;
  background-color: #000000; 
  color: #FFF;
  overflow: hidden;
}

.nav {
  width: 100%;
  position: relative;
  height: 65px;
  padding: 0px 10px 8px 10px;
  align-items: center;
  overflow: hidden;
  background-color: #FFF;
  color: #000;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 100px;
}

.nav h2 {
  border-bottom: #000;
}

.nav h2:hover {
  transform: translateY(-3px);
  transition: transform 0.1s ease-in-out;
}


#navlinks {
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 40px;
}

.navlink {
  margin: 10px;
  padding-top: 10px;
}

.logo {
  height: 30% !important;
  padding-bottom: 100px;
  /* width: 100%; */
}



.footer {
  width: 100%;
  height: 60px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  background-color: #FFF;
  color: #000;
  padding: 0px 20px 8px 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 30px;
}

.logoR {
  height: 10% !important;
  width: 17%;
  padding-top: 5px;
  padding-right: 55px;
  position: relative;
  float: right;
}

.footer span:hover {
  transform: translateY(-3px);
  transition: transform 0.1s ease-in-out;
}


#footerlinks {
  height: 100%;
  width: 100%;
  display: flex;
}

.footerlink {
  margin: 10px;
  padding-top: 10px;
}

h1 {
  font-size: 30px;
}

@media (max-width: 550px) {
  .nav {
    width: auto;
  }

  .footer {
    width: auto;
  }
}

@media (max-width: 300px) {
  .nav {
    width: auto;
  }

  .footer {
    width: auto;
  }

  /* .logoR {
    width: 30%;
  } */
}